@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to GuitarStore</h1>
    <p>Best place to find guitars.</p>

    <a class="btn btn-primary" asp-controller="Catalog" asp-action="Index">
        View Catalog
    </a>
</div>
